language: scala
sudo: false
cache:
  directories:
    - $HOME/.ivy2
matrix:
  include:
    - jdk: openjdk6
      scala: 2.10.4
      env: SPARK_VERSION="1.4.0"
    - jdk: openjdk7
      scala: 2.10.4
      env: SPARK_VERSION="1.4.0"
    - jdk: openjdk7
      scala: 2.10.4
      env: SPARK_VERSION="1.5.0-rc2"
script:
  - sbt -jvm-opts travis/jvmopts.compile -Dspark.version=$SPARK_VERSION compile
  - sbt -jvm-opts travis/jvmopts.test -Dspark.version=$SPARK_VERSION coverage test
  - sbt -jvm-opts travis/jvmopts.test -Dspark.version=$SPARK_VERSION scalastyle
after_success:
  - bash <(curl -s https://codecov.io/bash)
