language: scala
sudo: false
cache:
  directories:
    - $HOME/.ivy2
matrix:
  include:
    # We only test Spark 1.4.1 with Hadooop 2.2.0 because
    # https://github.com/apache/spark/pull/6599 is not present in 1.4.1,
    # so the published Spark Maven artifacts will not work with Hadoop 1.x.
    # Spark 1.4.1 and Scala 2.10
    - jdk: openjdk6
      scala: 2.10.4
      env: TEST_HADOOP_VERSION="2.2.0" TEST_SPARK_VERSION="1.4.1"
    - jdk: openjdk7
      scala: 2.10.4
      env: TEST_HADOOP_VERSION="2.2.0" TEST_SPARK_VERSION="1.4.1"
    # Spark 1.5.0 and Scala 2.10
    # These two cases will fail in Travis until SPARK-10330 is fixed.
    # - jdk: openjdk7
    #   scala: 2.10.4
    #   env: TEST_HADOOP_VERSION="1.0.4" TEST_SPARK_VERSION="1.5.0"
    # - jdk: openjdk7
    #   scala: 2.10.4
    #   env: TEST_HADOOP_VERSION="1.2.1" TEST_SPARK_VERSION="1.5.0"
    - jdk: openjdk7
      scala: 2.10.4
      env: TEST_HADOOP_VERSION="2.2.0" TEST_SPARK_VERSION="1.5.0"
    - jdk: openjdk7
      scala: 2.10.4
      env: TEST_HADOOP_VERSION="2.2.0" TEST_SPARK_VERSION="1.6.0"
    - jdk: openjdk7
      scala: 2.10.4
      env: TEST_HADOOP_VERSION="1.2.1" TEST_SPARK_VERSION="1.6.0"
    # Spark 1.5.0 and Scala 2.11
    - jdk: openjdk7
      scala: 2.11.7
      env: TEST_HADOOP_VERSION="2.2.0" TEST_SPARK_VERSION="1.5.0"
script:
  - sbt -Dhadoop.testVersion=$TEST_HADOOP_VERSION -Dspark.testVersion=$TEST_SPARK_VERSION ++$TRAVIS_SCALA_VERSION coverage test
  - sbt ++$TRAVIS_SCALA_VERSION scalastyle
after_success:
  - bash <(curl -s https://codecov.io/bash)
